
<center>
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field test">
    <h3>商品名</h3>
    <%= form.text_field :name%>
  </div>

  <div class="field">
    <h3>価格</h3>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <h3>説明文</h3>
    <%= form.text_area :text %>
  </div>

  <div class="field">
    <h3>商品の状態</h3>
    <%= form.text_field :zyoutai %>
  </div>

  <div class="field">
    <h3>添付画像</h3>
    <%= form.file_field :img %>
  </div>

  <div class="actions submitButton">
    <%= form.submit value: "出品する" %>
  </div>
<% end %>

</center>

<style>
  .test text_field{
    /* -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; */
  }

  .submitButton{
    padding-top: 30px;
  }
</style>
