<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>名前：</b>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <b>メールアドレス：</b>
    <%= form.text_field :mailadd %>
  </div>


  <div class="field">
    <b>電話番号：</b>
    <%= form.text_field :phonenum %>
  </div>

   <div class="field">
     <b>住所：</b>
    <%= form.text_field :apply %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
